<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BB Mall| Dashboard</title>
    <link rel="stylesheet" href="../css/stylee.css">
</head>
<body>
    <h3>BB Mall</h3>
    <p>Providing safe and convenient way to Shop digitally</p>
    <hr>
    <h3>Merchant Dashboard</h3>
    <p>Merchant ID: <span style="color: blue;"><%- mid %></span></p>
    <p>Merchant Username: <span style="color: blue;"><%- uname %></span></p>
    <hr>
    <a href="/dashboard">Dashboard</a>
    <a href="/addProduct">Add Product</a>
    <a href="/viewProduct">View Products</a>
    <a href="/logout">Click To Logout</a>
</body>
</html>