<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BB MALL | HOME</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="header">
        <h3><a href="/">BB Mall</a></h3>
        <form action="/search" method="post">
            <input type="text" name="searchParam" size="50" placeholder="Search for Products and Brands">
            <input type="submit" value="Search">
        </form>
        <p>+234-916 745 467</p>
    </section>

    <section class="grid-container">
        <ul class="sticky-list">
            <li><a href="/product/Computer">Computers</a></li>
            <li><a href="/product/Phone">Phones</a></li>
            <li><a href="/product/Tablets">Tablets</a></li>
            <li><a href="/product/Printers">Printers</a></li>
            <li><a href="/product/Accessories">Accessories</a></li>
        </ul>

        <section class="items">
            <div class="box">
                <div class="img"><img src="\images\Toshiba Chromebook 2.jpeg" alt="Computer Products"></div>
                <h5 class="card-title" align="center">Computer Products</h5>
                <a href="/product/Computer">View More</a>
            </div>
            <div class="box">
                <div class="img"><img src="\images\iphone13.jpg" alt="Phone Products"></div>
                <h5 class="card-title" align="center">Phone Products</h5>
                <a href="/product/Phone">View More</a>
            </div>
            <div class="box">
                <div class="img"><img src="\images\iPad mini 6.jpg" alt="Tablet Products"></div>
                <h5 class="card-title" align="center">Tablet Products</h5>
                <a href="/product/Tablets">View More</a>
            </div>
            <div class="box">
                <div class="img"><img src="\images\Powerbank.jpg" alt="Accessories Products"></div>
                <h5 class="card-title" align="center">Accessories Products</h5>
                <a href="/product/Accessories">View More</a>
            </div>
            <div class="box">
                <div class="img"><img src="\images\HP Color LaserJet Enterprise MFP M681dh.jpeg" alt="Printers"></div>
                <h5 class="card-title" align="center">Printers</h5>
                <a href="/product/Printers">View More</a>
            </div>
        </section>
    </section>

    <footer class="footer">
        <a href="/login">Merchant Login</a>
        <a href="/registration">Merchant Signup</a>
    </footer>
</body>
</html>
